<h1><%= @user.name %></h1>
<%= @user.email %>

<% if @user!=current_user %>
  <% if friendship_exists?(@user.id) %>    
    <%= form_tag("/friendships/#{@friendship.id}", method: "delete") do %>
      <%= submit_tag("Unfriend")%>
    <% end %>
  <% elsif request_sent?(@user.id) %>
    <%= form_tag("/requests/#{@request.id}", method: "delete") do %>
      <%= submit_tag("Cancel request")%>
    <% end %>
  <% else %>
    <%= form_tag("/requests", method: "post") do %>
      <%= hidden_field_tag :receiver_id, @user.id %>
      <%= submit_tag("Send friend request")%>
    <% end %>
  <% end %>
<% end %>