<%= gravatar_for @user %>
<h1><%= @user.name %></h1>
<%= @user.email %>

<% if @user!=current_user %>
  <%= render partial: 'shared/user', locals: {user: @user} %>
<% end %>

<% @posts.each do |post| %>
  <%= render partial: 'shared/post', locals: {post: post} %>
  <%= render partial: 'shared/comment', locals: {post: post} %>
<% end %>