<!DOCTYPE html>
<html>
  <head>
    <title>BuildingFacebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Social network', root_path %>
      <% if user_signed_in? %>
        <%= link_to current_user.name, user_path(current_user) %>
        <%= link_to 'Find friends', users_path %>
        <%= link_to "Notifications (#{requests_count})", requests_path %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      <% end %>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>
  </body>
</html>
